<!-- Header Code -->
{% include "Header.html" %}

<!-- Message Code -->
{% include "Message.html" %}

<!-- Title of the page-->
<div style="display: flex; justify-content: flex-end; margin-right: 150px; margin-top: 20PX;">
    <p>CART PAGE</p>
</div>

<!--For Manager -->
{% if manager %}
<div
    style="background-color: white; min-height: 100px; width: 80%;margin: auto; margin-top: 30px; border-radius: 10px; box-shadow: 0px 1px 5px 1px gray; align-items: center; padding: 10px 20px;">
    <div style="display: flex; justify-content: flex-end;">
        <div
            style=" height: 50px; border-radius: 10px; background-color: skyblue; padding:0px 10px ; display: flex; align-items: center;">
            <p style="color: white;">Choose one customer</p>
        </div>
    </div>
    <div>
        <p>Available Customers</p>

        <div style="display: flex; flex-wrap: wrap;">
            {% for i in manager %}
            <div class="manager-div"
                style="padding: 10px; border-radius: 10px; box-shadow: 0px 1px 1px 0px gray; margin: 10px;width:200px; display: flex; justify-content: space-around;">
                <p>{{i.user.first_name}}</p> <br>
                <p></p>
                <form action="{% url 'bookvenderforuser' %}" method="post">
                    {% csrf_token %}
                    <input type="radio" name="user" value="{{i.user.id}}" id="manager{{forloop.counter}}"
                        required=""><label for="manager"></label>

            </div>
            {% endfor %}
            <button type="submit"
                style="width:100px; height: 50px; border-radius: 10px; background-color: skyblue; color: white; border: 0px; ">Book</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% if venue_count is not 0 %}
<div class="venue-card-container">

    <div class="venue-card-title">
        <p class="venue-card-title-p">Cart Venues </p>
        <p style="color:#4a4a4a; margin-top: 10px;">Showing {{venue_count}} results as per your cart contains</p>
    </div>
    <div class="venue-card-title"></div>
    <div class="venue-card-title"></div>

    {% for i in venue_cart %}
    <div class="venue-card">

        <div class="venue-img-div">
            <a href="">
                <img src="{{i.venue.venue_image.url}}" alt="venue image" class="img100 venue-img">
            </a>
        </div>

        <div class="place-review">
            <p class="venue-name">{{i.venue.venue_name}}</p>

            <div class="rating-div">
                <img class="image20" src="/Static/icons/star.png" alt="star-rating">
                <p class="rating-p">4.5</p>
            </div>
        </div>

        <div class="location-type">
            <div class="location-div">
                <img class="image20 margin-right-10" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>{{i.venue.state}}</p>
            </div>

            <div class="type-div">
                <img class="image20 margin-right-10" src="/Static/icons/building.png" alt="property-img">
                <p>{{i.venue.Venue_Type.venue_type}}</p>
            </div>
        </div>

        <div class="delete-div jc-sa">
            <div>
                <form action="{% url 'bookvenue' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="venueid" value="{{i.venue.venue_id}}">
                    <button class="book-btn" type="submit">Book</button>
                </form>
            </div>

            <a href="{% url 'removevenue_tocart' i.venue_id %}" class="delete-link">
                <img src="/Static/icons/delete-red.png" alt="delete-icon" class="image20">
            </a>
        </div>

    </div>
    {% endfor %}
</div>
{% endif %}

{% if vender_count is not 0 %}
<div class="vender-card-container">

    <div class="vender-card-title">
        <p class="venue-card-title-p">Cart Venders</p>
        <p style="color:#4a4a4a; margin-top: 10px;">Showing {{vender_count}} results as per your cart contains</p>
    </div>
    <div class="venue-card-title"></div>
    <div class="venue-card-title"></div>

    {% for i in vender_cart %}
    <div class="vender-card">

        <div class="vender-img-div">
            <a href="">
                <img src="{{i.vender.vender_image.url}}" alt="taj-lakefront" class="img100 venue-img">
            </a>
        </div>

        <div class="place-review">
            <p class="venue-name">{{i.vender.vender_name}}</p>

            <div class="rating-div">
                <img class="image20" src="/Static/icons/star.png" alt="star-rating">
                <p class="rating-p">4.5</p>
            </div>
        </div>

        <div class="location-type">
            <div class="location-div">
                <img class="image20 margin-right-10" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>{{i.vender.state}}</p>
            </div>
            <div>
                <p>{{i.vender.mobile}}</p>
            </div>
        </div>

        <div class="delete-div jc-sa" style="display: flex; justify-content: space-between;">

            <div style="display: flex;">
                <form action="{% url 'bookvender' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="venderid" value="{{i.vender.vender_id}}">
                    <button class="book-btn" type="submit">Book</button>
                </form>
            </div>


            <a href="{% url 'removevender_tocart' i.vender_id %}" class="delete-link">
                <img src="/Static/icons/delete-red.png" alt="delete-icon" class="image20">
            </a>
        </div>

    </div>
    {% endfor %}
</div>
{% endif %}

{% if cake_count is not 0 %}
<div class="vender-card-container">

    <div class="cake-card-copy">
        <p class="venue-card-title-p">Cart Cakes</p>
        <p style="color:#4a4a4a; margin-top: 10px;">Showing {{cake_count}} results of black forest
        </p>
    </div>
    <div class="cake-card-copy"></div>
    <div class="cake-card-copy"></div>
    <div class="cake-card-copy"></div>

    {% for i in cake_cart %}
    <div class="cake-card">

        <div class="cake-img-div">
            <a href="{% url 'cakeDtls' i.cake_id %}">
                <img src="{{i.cake.image.url}}" alt="taj-lakefront" class="img100 venue-img">
            </a>
        </div>

        <div class="place-review">
            <p class="venue-name">{{i.cake.cake_name}}</p>

            <div class="rating-div">
                <img class="image20" src="/Static/icons/star.png" alt="star-rating">
                <p class="rating-p">4.5</p>
            </div>
        </div>

        <div class="location-type">
            <div class="location-div">
                <img class="image20 margin-right-10" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>{{i.cake.provider.city}}, {{i.cake.provider.state}}</p>
            </div>
        </div>


        <div class="delete-div jc-sa">
            <div>
                <form action="{% url 'bookcake' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="venderid" value="{{i.cake.cake_id}}">
                    <button class="book-btn" type="submit">Book</button>
                </form>
            </div>

            <a href="{% url 'removecake_tocart' i.cake_id %}" class="delete-link">
                <img src="/Static/icons/delete-red.png" alt="delete-icon" class="image20">
            </a>
        </div>

    </div>
    {% endfor %}
</div>
{% endif %}

<!-- Footer code -->
{% include "Footer.html" %}