{% include 'Header.html' %}

<!--Forget password content section-->
    <div class="root-container">

        <div class="form-div-size form-border">
            <!--Text section-->
            <div>
                <h1>Reset Password?</h1>
      
                <small style="margin-top: 4px;">
                    Please enter the email address associated with your account and We will
                    email you a link to reset your password.
                </small>
            </div>

            <!--Form section-->
            <form method="post" action="{% url 'forget'%}">
               {% csrf_token %}
                <!--Input section-->
                <div class="top-margin">
                    <input type="email" name="email" class="input-box" placeholder="Registered Email" required="">
                </div>

                <!--Forget Button section-->
                <div class="top-margin">
                    <button type="submit" class="submit-btn">Reset Password</button>
                </div>

            </form>
    </div>
{% include 'Footer.html' %}