<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Static/Css/MainHome.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body>

    <div class="top-div">
        <div class="services-options">
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'registration' %}">Sign-up</a>
                </li>
                {% endif %}

            </ul>
        </div>
        <h1 id="top-div-h1">Delightful Events</h1>
    </div>

    <div class="wrap-2">
        <h2 id="wrap-2-h2">Your trusted event planners for</h2>
    </div>

    <!--CARD CONTAINER-->
    <div class="card_container">

        <!--CARD 1-->
        <div class="card">
            <div class="icon">Weddings</div>
            <div class="content">
                <p>
                    Wedding celebration is now easy. We are proving all services regarding wedding in which you can
                    contact with vendors too easily with one click.
                </p>
                <a href="{%  url 'wedding' %}" class="link-css">Book</a>

            </div>
        </div>

        <!--CARD 2-->
        <div class="card">
            <div class="icon">Birthdays</div>
            <div class="content">
                <p>
                    Birthday celebration is now easy. We are proving all services regarding birthday in which you can
                    contact with vendors too easily with one click.
                </p>
                <a href="{% url 'birthday' %}" class="link-css">Book</a>

            </div>
        </div>

        <!--CARD 3-->
        <div class="card">
            <div class="icon">Other</div>
            <div class="content">
                <p>
                    Other celebration is now easy. We are proving all services regarding your celebration in which you can
                    contact with vendors too easily with one click.
                </p>
                <a href="#" class="link-css">Book</a>

            </div>
        </div>
    </div>


    <div class="wedding-event-details">
        <div id="wedding-img-div">

        </div>
        <div id="wedding-info-card">
            <h2 id="wed-info">Let us help you create your perfect
                WEDDING EXPERIENCE</h2>
            <br>
            <p>
                We will create a day you will always remember. Whether your ceremony and reception are religious or
                civil, intimate or large we will make sure each client’s unique vision is spectacular and the remnant of
                you.</p>
            <p>
                Our team will ensure your event runs smoothly and your day is worry-free. From coordinating travel and
                accommodations for you and your guests to knowing the ins and outs of all the hidden gems in this
                beautiful city, we will have you covered in creating the most memorable wedding day imaginable.
            </p>
        </div>
    </div>

    <div class="birth-event-details">
        <div id="birth-img-div">

        </div>
        <div id="birth-info-card">
            <h2 id="birth-info">Let us help you create your perfect
                Birthdays</h2>
            <br>
            <p>
                We will create a day you will always remember.</p>
            <p>
                Our team will ensure your event runs smoothly and your day is worry-free. From coordinating travel and
                accommodations for you and your guests to knowing the ins and outs of all the hidden gems in this
                beautiful city, we will have you covered in creating the most memorable day imaginable.
            </p>
        </div>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Delightful<span>Events</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Delightful Events.</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Gandhi Nagar</span> Madhya Pradesh, India</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 999 9999999</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">contact@DelightfulEvents.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Delightful_Events is a website for organizing events.
            </p>

        </div>

    </footer>

</body>

</html>