{% include "Header.html" %}

{% for i in manager_dtls %}
<!--Container-->
<div class="detailed-container">

    <!--Colomn 1-->
    <div class="details-container-col-1">

        <!--Image div-->
        <div class="venued-img-div">
            <img src="{{i.image.url}}" alt="venue-image" class="img100">
        </div>

        <!--Details div-->
        <div class="venue-details-div">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <p class="venue-details-title">{{i.user.first_name}}</p>
                    <div class="flex margin-top-10">
                        <img src="/Static/icons/location.png" alt="" class="image20 margin-right-10">
                        <p>{{i.city}}, {{i.state}}</p>
                    </div>
                </div>
                <div>
                    <div class="flex rating-div">
                        <img src="/Static/icons/star.png" alt="" class="image20">
                        <p class="rating-p">4.4</p>
                    </div>
                    <p class="margin-top-10">100 reviews</p>
                </div>
            </div>

            <div class="flex detailed-footer">
                <div class="flex w-25 border-l">
                    <img src="/Static/icons/gallery.png" alt="" class="image20">
                    <p class="detailed-footer-p">Photos</p>
                </div>

                <div class="flex w-25 border-l">
                    <img src="/Static/icons/review.png" alt="" class="image20">
                    <p class="detailed-footer-p">Review</p>
                </div>
                <div class="flex w-25 border-l">
                    <a href="{% url 'addvender_towish' i.manager_id %}"
                        style="text-decoration: none; display: flex; align-items: center;">
                        <img src="/Static/icons/wishlist.png" alt="" class="image20">
                        <p class="detailed-footer-p">Wishlist</p>
                    </a>
                </div>
                <div class="flex w-25 border-l">
                    <a href="{% url 'book_manager' i.manager_id %}" style="text-decoration: none; display: flex; align-items: center;">
                        <img src="/Static/icons/share.png" alt="" class="image20">
                        <p class="detailed-footer-p">Book</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Colomn 1 close-->

    <!--Colomn 2-->
    <div class="details-container-col-2">

        <div class="price-division">

            <div class="price-div-1">
                <p>Starting Price</p>
                <div>
                    <small>pricing info</small>
                    <img src="/Static/icons/arrow-down.png" alt="" style="width: 10px; height: 10px;">
                </div>
            </div>

            <div class="price-div-2">
                <div style="width: 50%; align-items: center;">
                    <p>Total management price</p>
                    <p style="margin-top: 10px;">INR {{i.price}}</p>
                </div>
            </div>

            <div class="price-div-3">
                <p>Special deal</p>
                <p></p>
            </div>

        </div>
        <!--
            
        <div class="contact-div" style="height: 120px;">
            <div class="contact-div-1">
                <form action="" method="post">
                    {% csrf_token %}
                    <div style="display: flex;">
                        <div style="display: flex; align-items: center; margin: 0px 30px 0px 0px;"><input
                                type="checkbox" name="photo" value="True">
                            <p style="margin-left: 10px;">Photographer</p>
                        </div>
                        <div style="display: flex; align-items: center;"><input type="checkbox" name="cake" value="True">
                            <p style="margin-left: 10px;">Wedding Cake</p>
                        </div>
                    </div>
                    <div style="display: flex; margin-top: 10px;">
                        <div style="display: flex; align-items: center; margin: 0px 30px 0px 0px;"><input
                                type="checkbox" name="makeup" value="True">
                            <p style="margin-left: 10px;">Makeup Artist</p>
                        </div>
                        <div style="display: flex; align-items: center;"><input type="checkbox" name="mehndi" value="True">
                            <p style="margin-left: 10px;">Mehndi Artist</p>
                        </div>
                        <input type="hidden" name="manager" value="{{i.manager_id}}">
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                        <button type="submit" style="padding: 10px 20px; background-color: Gray; color: white; border-radius: 5px; margin-top: 10px;">Book</button>
                    </div>
                    
                </form>
            </div>

        </div>
        -->
    </div>
    <!--Colomn 2 close-->

</div>
<!--Container close-->
{% endfor %}

{% include "Footer.html" %}