{% include "Header.html" %}

<div style="display: flex; justify-content: flex-end; margin-right: 150px; margin-top: 20PX;">
    <p>MANAGERS PAGE</p>
</div>

<div class="manager-card-container" style="width: 80%; margin: auto;">
    <div class="manager-title">
        <p style="font-size: 22px;">Available Managers</p>
        <p style="font-size: 16px; color: #4a4a4a; margin: 10px 0px 0px 0px;">Showing {{manager_count}} results</p>
    </div>

    
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; margin-top: 45px;">
        {% for i in managers %}
        <div style="width:300px; height: auto; background-color: white; border-radius: 5px; padding: 10px; margin-bottom: 5px;">
            <div class="image-div" style="width: 100%; height: 180px;">
                <a href="{% url 'managerDtls' i.manager_id %}"><img src="{{i.image.url}}" alt="image" class="img100"></a>
            </div>
            <div class="info">
                <div><p style="font-size: 18px; color: #4a4a4a; font-weight: 600; margin-top: 10px;">{{i.user.first_name}}</p></div>
                <div style="display: flex; margin-top: 10px;">
                    <img src="/Static/icons/placeholder.png" alt="" style="width: 20px; height: 20px;">
                    <p>{{i.city}}, {{i.state}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

</div>


{% include "Footer.html" %}