{% include 'Header.html' %}

<!--Message-->
{% include "Message.html" %}

<!--Signup content section-->
<div class="form-container">

    <div class="form-div-size form-border">
        <!--Text section-->
        <div>
            <h1>Register Yourself</h1>
            <p style="margin-top: 4px;">Welcome here User to Event Planner website!</p>

            <!--Form section-->
            <form method="post" action="{% url 'registration'%}" name="myform">
                {% csrf_token %}
                <!--Input section-->
                <div class="top-margin">
                    <input type="text" name="first_name" id="first_name" class="input-box" placeholder="First name"
                        aria-label="First name" minlength="2" maxlength="20" required="">
                </div>

                <div class="top-margin">
                    <input type="email" name="email" id="email" class="input-box" placeholder="Email"
                        aria-label="Last name" minlength="11" maxlength="50" required="">
                </div>

                <div class="top-margin">
                    <input type="password" name="password" class="input-box" id="password" placeholder="Password"
                        minlength="4" maxlength="8" required="">
                </div>

                <!-- Register Button section-->
                <div class="top-margin">
                    <button type="submit" class="submit-btn" onmouseover="onlystring()">Register</button>
                </div>

                <!--
                <p class="top-margin">
                    <small>By continuing, you agree to our <a href="#!" class="link-css"> Terms of Service</a> &amp;
                        <a href="#!" class="link-css">Privacy Policy</a>
                    </small>
                </p>
                 -->
            </form>
        </div>
    </div>

    <div class="form-img-div">
        <img src="/Static/icons/wedding-couple.png" alt="" class="img100">
    </div>
</div>

{% include 'Footer.html' %}