{% include "Header.html" %}

<div style="display: flex; justify-content: flex-end; margin-right: 150px; margin-top: 20PX;">
    <p>VENUES PAGE</p>
</div>

<div class="venue-card-container">

    <div class="venue-card-title">
        <p class="venue-card-title-p">Available Venues</p>
        <p style="color:#4a4a4a; margin-top: 10px;">Showing {{total_venue}} results as per your search criteria</p>
    </div>
    <div class="venue-card-title"></div>
    <div class="venue-card-title"></div>

    {% for i in venue %}
    <div class="venue-card">

        <div class="venue-img-div">
            <a href="{% url 'venueDtls' i.venue_id %}">
                <img src="{{i.venue_image.url}}" alt="venue image" class="img100 venue-img">
            </a>
        </div>
    
        <div class="place-review">
            <p class="venue-name">{{i.venue_name}}</p>
    
            <div class="rating-div">
                <img class="image20" src="/Static/icons/star.png" alt="star-rating">
                <p class="rating-p">4.5</p>
            </div>
        </div>
    
        <div class="location-type">
            <div class="location-div">
                <img class="image20 margin-right-10" src="/Static/icons/placeholder.png" alt="location-mark">
                <p>{{i.city}},{{i.state}}</p>
            </div>
    
            <div class="type-div">
                <img class="image20 margin-right-10" src="/Static/icons/building.png" alt="property-img">
                <p>{{i.Venue_Type.venue_type}}</p>
            </div>
        </div>
    
        <div class="veg-nonveg">
            <div class="veg-div">
                <p class="small-title">Veg</p>
                <p class="big-text">₹ {{i.veg_price}} / plate</p>
            </div>
    
            <div class="nonveg-div">
                <p class="small-title">Non-Veg</p>
                <p class="big-text">₹ {{i.nonveg_price}} / plate</p>
            </div>
        </div>
    
    </div>
    {% endfor %}
</div>

{% include "Footer.html" %}