*{
    margin: 0;
    padding: 0;
}
h1,h2{
    margin:0;
}

.top-div{
    height: 620px;
    background-image: url("/Static/Images/homeimage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

#top-div-h1{
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    display: inline-block;
    position: relative;
    margin-top: 70px;
    color: palevioletred;
}

ul{
    list-style-type: none;
    margin: 0;

}

li{
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 40%;
    margin-left: 40px;
    color: #333;
}

a{
    color:black;
    text-decoration: none;
    font-size: 18px; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
a:hover{
    color: white;
}

.services-options{
    height: 40px;
    margin: 0;
    background-color: none;
}

.wrap-2{
    display: block;
    background-color: ivory;
    margin: 0;
    height: 100px;
    text-align: center;
    background-color: floralwhite;

}

#wrap-2-h2{
    font-family: 'Satisfy', cursive, sans-serif;
    padding-top: 30px;
    font-size: 30px;
    text-decoration: underline;
    background-color: none;
    color: black;
}

.wrap-3{
    background-color: floralwhite;
    height: 180px;
    text-align: center;
}

.wedding-div{
    display: inline-block;
    background-color: rgb(48, 48, 48);
    width: 30%;
    margin: 0;
    height: 100%;
}

.birthday-div{
    display: inline-block;
    background-color: rgb(82, 82, 82);
    width: 30%;
    margin: 0;
    height: 100%;
}

.other-div{
    display: inline-block;
    background-color: rgb(141, 141, 141);
    width: 30%;
    margin: 0;
    height: 100%;
}

span{
    position: relative;
    top: 60px;
    color: aliceblue;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.wedding-event-details{
    margin-top: 40px;
    background-image: url(/Static/Images/wed-bac.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 600px;
    position: relative;
}

#wedding-img-div{
    padding: 10px;
    width: 400px;
    height: 500px;
    background-image: url(/Static/Images/wed-sec.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 50px;
}

#wedding-info-card{
    margin: 0px;
    width: 500px;
    height: 500px;
    background-color: floralwhite;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
}

#wed-info,h2{
    margin: 40px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    margin: 0 40px 40px 40px;
    font-family: 'Fira Sans', sans-serif;
}


.birth-event-details{
    margin-top: 40px;
    background-image: url(/Static/Images/bir-bac.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 600px;
    position: relative;
}

#birth-img-div{
    padding: 10px;
    width: 400px;
    height: 500px;
    background-image: url(/Static/Images/bir-div.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 50px;
}

#birth-info-card{
    margin: 0px;
    width: 500px;
    height: 500px;
    background-color: floralwhite;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
}

#birth-info,h2{
    margin: 40px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/**/

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 100px;
    font-family: proxima-nove, sans-serif;
  }
  .card_container .card{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }
  .card_container .card:before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: rgba(255,255,255,.2);
  z-index: 2;
  pointer-events: none;
  }
  .card_container .card .icon{
  position: relative;
  width: 100px;
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  transition: 1s;
  }
  .card_container .card:nth-child(1) .icon{
    background: #ec447c;
  }
  .card_container .card:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #ec447c;
  }
  .card_container .card:nth-child(2) .icon{
    background: #71c274;
  }
  .card_container .card:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #71c274;
  }
  .card_container .card:nth-child(3) .icon{

    background: #104978;
  }
  .card_container .card:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #104978;
  }
  .card_container .card .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
  
  }
  .card_container .card .content p{
    margin: 10px 0px;
  }
  .card_container .card:hover .content p{
    color: #fff;
    }
  .link-css{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }
.link-css:hover{
    color:#000;
}



.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

