*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    column-gap: 5%;
    align-items: baseline;
    height: 50px;
}
  
li {
    font-family: 'Sora', sans-serif;
}

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.contains-shop-user{
    position: absolute;
    right: 10%;
    margin: 0;
    padding: 0;
}


.first-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: auto;
    width: 100%;
    background-image: url("/Static/Images/b_c_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.first-div h1{
    font-family: 'Abril Fatface', cursive;
    display: inline-block;
    text-align: center;
    height: 20%;
    width: 70%;
    font-size: 80px;
    color: whitesmoke;
    background: rgb(253,29,90);
    background: linear-gradient(90deg, rgba(253,29,90,1) 50%, rgba(219,69,252,1) 100%); 
    border-radius: 10px;
}

.second-div{
    text-align: center;
    height: 400px;
    background-color: rgb(255, 187, 227);
}

.second-div span{
    position: relative;
    top: 20px;
    overflow: auto;
    font-family: 'Sora', sans-serif;
    height: 30px;
    font-size: 25px;
    color: crimson;
    text-decoration: underline;
}

.our-services{
    margin-top:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    height: 300px;
}

.cake-service{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 3px 4px #333;
}

.cake-service:hover{
    width: 210px;
    height: 260px;
    transition: 200ms;
}

.cake-img-container{
    height: 45%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-image: url("/Static/Images/cake.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cw-content{
    text-align: center;
    font-family: 'Lato', sans-serif;
    height: 35%;
    width: 100%;
}

.cw-content h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 40%;
    padding-top : 5px;
}

.cw-content p{
    height: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    overflow: auto;
    color: black;
}

#cw-btn {
    margin: auto;
    height: 30px;
    width: 70%;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#cw-btn:hover{
    background-color: rgb(255, 71, 108);
    box-shadow: 0 3px 4px #111;
}

#cw-btn:active{
    background-color: rgb(145, 58, 226);
}

.venue-service{
    width: 200px;
    height: 250px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 3px 4px #111;
}

.venue-service:hover{
    width: 210px;
    height: 260px;
    transition: 200ms;
}


.venue-img-container{
    height: 45%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-image: url("/Static/Images/fireworks.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fw-content{
    text-align: center;
    font-family: 'Lato', sans-serif;
    height: 35%;
    width: 100%;
}

.fw-content h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 40%;
    padding-top : 5px;
}

.fw-content p{
    height: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    overflow: auto;
    padding: auto;
    color: black;
}

#fw-btn {
    margin: auto;
    height: 30px;
    width: 70%;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#fw-btn:hover{
    background-color: rgb(255, 71, 108);
    box-shadow: 0 3px 4px #111;
}

#fw-btn:active{
    background-color: rgb(145, 58, 226);
}




.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}




